.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

*.iws
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.env
.env.test
.eslintcache
.fseventsd
.grunt
.idea
.idea_modules/
.lock-wscript
.LSOverride
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.serverless/
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.vuepress/dist
.yarn-integrity
atlassian-ide-plugin.xml
bower_components
build/Release
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
fabric.properties
Icon
jspm_packages/
lerna-debug.log*
lib-cov
logs
Network Trash Folder
node_modules/
npm-debug.log*
out/
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
Temporary Items
typings/
yarn-debug.log*
yarn-error.log*
